/* Generics */

body {
	font: normal 76% Verdana, helvetica, sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
	
}

@media screen and (min-width:0\0) {
	body, html {
		height:100%;
	}
}

:focus {
	outline: none !important;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 1px dotted transparent !important;
}

/* Header */

div.sercxiHeaderContainer 
{
    background: url(/images/toolsBackground.png) repeat-x scroll 0 0 #f2f2f2;
    position:relative;
    height:30px;
    width:100%;
}

/* Header tools */


.sercxiToolsContainer {
    height:30px;
    position:absolute;
    right:0;
    top:0;

}  

ul.sercxiTools 
{
    padding:0;
    list-style-type: none;
    margin:0;
    background: url(/images/toolsBackground.png) repeat-x scroll 0 0 #f2f2f2;
    z-index:0;
    overflow:hidden;
}
ul.sercxiTools li 
{
    margin:0;    
    float:left;
    padding:0;
}

ul.sercxiTools li a {
	display:inline-block;
	min-width:16px;
}
    
ul.sercxiTools li.sercxiToolsHelp a
{
    background: url(/images/icoHelp.png) 0 50% no-repeat;  
}
        
ul.sercxiTools li a 
{
    font-size:0.9em;
    text-decoration:none;
    color:#000;   
    line-height:31px;
	padding:0 10px 0 20px;
	display:block;
}
  
ul.sercxiTools li.sercxiActive a
{
    font-weight:bold;
}
    
/* Logotype */
    
p.sercxiLogotype 
{
    margin:0;
    padding:0;
    position:absolute;
    left:10px;
    top:5px;
}
    
p.sercxiLogotype img 
{
    border:none;   
}

/* Map */

#map1 {
    height:100%;
    width:50%;
	border-top: 1px solid #9BA0A5;
    position:absolute;
    top:30px;
    right:0;
}
#map2 {
    height:100%;
    width:50%;
	border-top: 1px solid #9BA0A5;
    position:absolute;
    top:30px;
    left:0;

}
.olControlLayerSwitcher .layersDiv {
    color: #515151;
    background-color: rgba(255,255,255,0.5) !important;
    border-bottom-left-radius:5px;
    padding: 6px 6px 2px 6px !important;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left:10px !important;
    padding-bottom:0;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .olButton {
    margin-bottom:5px !important;       
    display:inline-block;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .labelSpan {
    margin-left:5px;
}

.sercxiToolsContainer .select2-container {
    margin:3px;
}

.olControlLayerSwitcher {
    top: -5px !important;
    width:auto !important;
    min-width:10em;
}

.baseLayersDiv {
    background-color:#fff;
    display:block !important;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border: 1px solid #a6aaaf;
    border-top: none;
    margin:0 !important;
    padding:5px 10px 5px 10px !important;
}

.baseLbl {
    background-color:#fff;
    display:block !important;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border: 1px solid #a6aaaf;
    border-bottom: none;
    margin:0  0 -1px 0 !important;
    padding:5px 10px 0 10px;
}